
<h1> Remove student</h1>
<p> Are you sure you want to delete subject:</p>
<form method="post" style="color: #ffffff">
    <input type="text" placeholder="Name" value="@ViewBag.Name" id="Name" name="Name" disabled />
    <button type="submit" class="btn">Delete</button>
</form>