@model List<Subject>

<h1>Subjects</h1>
<a href="subjects/create" class="waves-effect waves-light btn">Add subject</a>
<table style="color: #fff" class="striped">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        @foreach(var su in Model)
        {
            <tr>
                <td>@su.Name</td>
                <td><a href="subjects/students/?IdSubject=@su.IdSubject">View students </a></td>
                <td><a href="subjects/delete/?Name=@su.Name" class="waves-effect waves-light btn" style="background-color: red">X</a></td>
            </tr>
        }
    </tbody>
</table> 