@model List<Grade>
<a href="/subjects" class="waves-effect waves-light btn" style="background-color: blue">Back to subjects</a>
<h1>Students</h1>
<table style="color: #fff" class="striped">
    <thead>
    <tr>
        <th>Index number</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var gr in Model)
    {
        <tr>
            <td>@gr.GradeValue</td>
            <td>@gr.Description</td>
        </tr>
    }
    </tbody>
    <p>@ViewBag.IdSubject</p>

</table>