
<h1> Remove student</h1>
<p> Are you sure you want to delete student:</p>
<form method="post" style="color: #ffffff">
    <input type="text" placeholder="IndexNumber" value="@ViewBag.IndexNumber" id="indexNumber" name="indexNumber" disabled />
    <button type="submit" class="btn">Delete</button>
</form>